body  {
  margin: 0;
  background-color: rgb(66, 0, 0);
  height: 2500px;
  background-image: url(../Photos/Background/background.jpg);
  background-blend-mode: darken;
  background-repeat: repeat;
  background-size: 25%;
}

a {
  text-decoration: none;
  text-align: center;
}

a:link  {
  color: white;
}

a:visited {
  color: white;
}

a:active  {
  color: black;
}

header  {
  display: flex;
  justify-content: space-between;
  background-image: url(../Photos/Background/header.jpg);
  height: 500px;
  background-size: cover;
  background-position-y: -360px;
  background-repeat: no-repeat;
  border-bottom: 3px solid red;
}

header img{
  height: 350px;
  width: auto;
  position: relative;
  top: 25%;
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.menu {
  background-color: black;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid red;
  padding: 10px 0;
}

.menu ul  {
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  justify-content: space-around;
}

.menu ul a{
  padding: 10px 80px;
  border-radius: 7px;
  background-color: black;
  border: 1px solid maroon;
}

.menu ul a:hover{
  background-color: white;
  color:black;
}

@keyframes appear {
  from{opacity: 0;}
  to{opacity: 1;}
}

p {
  text-align: justify;
  color: white;
  font-size: 20px;
}

main {
  position: relative;
  top: -40px;
  margin: 0 130px;
  border: 2px solid red;
  background-color: rgb(56, 1, 0);
  padding-bottom: 20px;
  color: white;
  padding: 15px 20px;
}

h1 {
  text-align: center;
  margin: 10px;
}

@media all and (min-width: 720px) and (max-width: 1024px) {
  header  {
    height: 16%;
    background-size: cover;
    background-position-y: 51%;
  }
  main  {
    margin: 0 auto;
    width: 90%;
  }
  body  {
    background-size: 70%;
  }
  header  {
    justify-content: unset;
  }
  header img  {
    width: 70%;
    aspect-ratio: 1.777777/1;
  }
  .menu ul  {
    padding: 0;
  }
}
@media all and (min-width: 1025px) and (max-width: 1440px) {
  header  {
    height: 16%;
    background-size: cover;
    background-position-y: 67%;
  }
  header img  {
    height: 75%;
  }
  main  {
    margin: 0 auto;
    width: 90%;
  }
}
@media all and (min-width: 1441px) and (max-width: 2560px)  {

  header  {
    height: 30%;
    background-size: cover;
    background-position-y: 55%;
  }
  header img  {
    width: 45%;
    aspect-ratio: 1.7777/1;
    top: 35%;
  }
  main  {
    margin: 0 auto;
    width: 90%;
  }
}