body  {
  margin: 0;
  background-color: rgb(66, 0, 0);
  height: 2500px;
  background-image: url(../Photos/Background/background.jpg);
  background-blend-mode: darken;
  background-repeat: repeat;
  background-size: 25%;
}

a {
  text-decoration: none;
  text-align: center;
}

a:link  {
  color: white;
}

a:visited {
  color: white;
}

a:active  {
  color: black;
}

header  {
  display: flex;
  justify-content: space-between;
  background-image: url(../Photos/Background/header.jpg);
  height: 500px;
  background-size: cover;
  background-position-y: -360px;
  background-repeat: no-repeat;
  border-bottom: 3px solid red;
}

header img{
  height: 350px;
  width: auto;
  position: relative;
  top: 25%;
}

.menu {
  background-color: black;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid red;
}

.menu ul  {
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  justify-content: space-around;
}


.menu ul a{
  padding: 10px 80px;
  border-radius: 7px;
  background-color: black;
  border: 1px solid maroon;
  
}

.menu ul a:hover{
  background-color: white;
  color:black;
}