body  {
  margin: 0;
  background-color: rgb(66, 0, 0);
  height: 2500px;
  background-image: url(../Photos/Background/background.jpg);
  background-blend-mode: darken;
  background-repeat: repeat;
  background-size: 25%;
}

a {
  text-decoration: none;
  text-align: center;
}

a:link  {
  color: white;
}

a:visited {
  color: white;
}

a:active  {
  color: black;
}

/*Header*/

header  {
  display: flex;
  justify-content: space-between;
  background-image: url(../Photos/Background/header.jpg);
  height: 500px;
  background-size: cover;
  background-position-y: -360px;
  background-repeat: no-repeat;
  border-bottom: 3px solid red;
}

header img  {
  height: 350px;
  width: auto;
  position: relative;
  top: 25%;
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#sort {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 85%;
}

#sort select  {
  font-size: 18px;
  margin: 0 80px 20px 0;
  width: 200px;
  text-align: center;
  color: white;
  background-color: maroon;
  border-radius: 7px;
  padding: 12px 0;
  border: none;
  appearance:none;
}

#sort select:hover  {
  cursor: pointer;
}

/*Main*/

main  {
  position: relative;
  top: -40px;
  margin: 0 130px;
  border: 2px solid red;
  background-color: rgb(56, 1, 0);
  padding-bottom: 20px;
}

main nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

main nav button:hover{
  background-color: white;
  color: black;
}

main nav button {
  color: white;
  background-color: maroon;
  border-radius: 7px;
  padding: 12px 0;
  border: none;
  width: 200px;
}

main nav button:hover  {
  cursor: pointer;
}

.flex  {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

/*Car div*/

.car  {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  border: 1px solid red;
}

.car a{
  color: black;
  text-decoration: none;
}

.brand-logo {
  height: 45px;
  width: auto;
  padding: 0 15px 0 0;
}

.car-img  {
  width: 100%;
  height: 100%;
  aspect-ratio: 1.5/1;
}

.brand-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.car-info {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color:white;
  align-items: center;
  padding: 0 10px;
}


.cena {
  text-align: center;
  font-size: 1.17em; 
  font-weight: bolder;
  background-color: maroon;
  width: 160px;
  padding: 10px 0;
  border-radius: 7px;
  margin: 3px;
  border: 0;
  color:white;
}

.cena:hover {
  cursor: pointer;
}

.img-holder img:hover {
  transform: scale(110%);
  transition: transform 1s ease-in;
}

.img-holder {
  overflow: hidden;
}

.hidden {
  display: none;
}

/*Menu*/

.menu {
  background-color: black;
  height: 60px;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid red;
}

.menu ul  {
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  justify-content: space-around;
}


.menu ul a{
  padding: 10px 80px;
  border-radius: 7px;
  background-color: black;
  border: 1px solid maroon;
  
}

.menu ul a:hover{
  background-color: white;
  color:black;
}

@keyframes appear {
  from{opacity: 0;}
  to{opacity: 1;}
}

/*Media Queries*/



@media all and (min-width: 720px) and (max-width: 1024px) {
  header  {
    height: 16%;
    background-size: cover;
    background-position-y: 51%;
  }
  main  {
    margin: 0 auto;
    width: 90%;
  }
  body  {
    background-size: 70%;
  }
  header  {
    justify-content: unset;
  }
  header img  {
    width: 70%;
    aspect-ratio: 1.777777/1;
  }
  #sort {
    width: 20%;
    justify-content: unset;
    flex: 1;
  }
  #sort select  {
    width: 100%;
  }
  .flex {
    justify-content: space-around;
  }
  .car  {
    width: 45%;
  }  
  main nav ul {
    padding: 0;
  }
  main nav ul li  {
    flex: 1;
    text-align: center;
  }
  main nav button {
    width: 90%;
  }
  .car  {
    background-color: black;
  }
  .brand-flex {
    background-color: white;
  }
  .car-info {
    flex: 1;
  }
  .menu nav ul {
    padding: 0;
  }
  .menu nav ul li  {
    flex: 1;
    text-align: center;
  }
  .menu nav button {
    width: 90%;
  }
}

@media all and (min-width: 1025px) and (max-width: 1440px) {
  header  {
    height: 16%;
    background-size: cover;
    background-position-y: 67%;
  }
  .car  {
    width: 45%;
  }
  header img  {
    height: 75%;
  }
  main nav ul {
    padding: 0;
  }
  main nav ul li  {
    flex: 1;
    text-align: center;
  }
  main nav button {
    width: 90%;
  }
}

@media all and (min-width: 1441px) and (max-width: 2560px)  {

  header  {
    height: 30%;
    background-size: cover;
    background-position-y: 55%;
  }
  header img  {
    width: 45%;
    aspect-ratio: 1.7777/1;
    top: 35%;
  }
  #sort select  {
    width: 300px;
    margin: 0 180px 40px 0;
  }
  .car  {
    background-color: black;
  }
  .brand-flex {
    background-color: white;
  }
  .car-info {
    flex: 1;
  }
  main nav ul {
    padding: 0;
  }
  main nav button {
    font-size: 20px;
  }
  main nav ul li  {
    flex: 1;
    text-align: center;
  }
  main nav button {
    width: 90%;
  }
}

@media all and (min-with: 1981px) {
  .menu {
    height: 100px;
    width: 100%;
  }
  .menu ul a {
    font-size: 22px;
    padding: 15px 100px;
  }
  .menu ul  {
    padding: 0;
  }
}

/* Burger*/

.burger-menu {
  display: none; 
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-title {
  display: none;
}


@media all and (max-width: 1024px) {
  .burger-menu {
    display: block; 
    z-index: 2;
  }

  .menu {
    height: 75px;
  }

  .burger-title {
    display: block;
    color: white;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
  }

  .menu ul {
    display: none;
  }

  .menu ul.show {
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 95px; 
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .menu ul li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid maroon;
  }
}